.cartPage {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .userInfo {
    padding-left: 20px;
    display: flex;
    justify-content:center;
    border-radius: 30px;
  }
  
  #userData {
    flex: 1;
    margin-right: 20px;
  }
  
  #userEmail {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .cart-items {
    margin-top: 10px;
  }
  
  .cart-item {
    background-color: rgba(255, 255, 255, 0.749);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .cart-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 16px;
  }
  
  .removeButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .removeButton:hover {
    background-color: #c0392b;
  }
  
  .signButton button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .signButton button:hover {
    background-color: #2980b9;
  }
  